<script>
    document.addEventListener("DOMContentLoaded", function () {
        const searchInput = document.getElementById('searchInput');
        const cards = document.querySelectorAll('.project-card');

        if (searchInput) {
            cards.forEach(card => {
                if (!card.dataset.display) {
                    card.dataset.display = getComputedStyle(card).display;
                }
            });

            searchInput.addEventListener('input', e => {
                const term = e.target.value.toLowerCase().trim();

                cards.forEach(card => {
                    const title = (card.dataset.title || '').toLowerCase();
                    const category = (card.dataset.category || '').toLowerCase();

                    const isMatch =
                        title.includes(term) ||
                        category.includes(term);

                    card.style.display = isMatch ?
                        card.dataset.display :
                        'none';
                });
            });

        }
    });
</script>