<script>
    document.addEventListener("DOMContentLoaded", function () {
        const searchInput = document.getElementById('searchInput');
        const cards = document.querySelectorAll('.project-card');

        if (searchInput) {
            searchInput.addEventListener('input', function (e) {
                const searchTerm = e.target.value.toLowerCase().replace(/\s+/g, '');

                cards.forEach(card => {
                    const title = (card.getAttribute('data-title') || "");
                    const category = (card.getAttribute('data-category') || "");

                    if (searchTerm.length > 0) {
                        console.log(
                            `입력: ${searchTerm} | 타이틀일치: ${title.includes(searchTerm)} | 카테고리일치: ${category.includes(searchTerm)}`
                        );
                    }
                    if (title.includes(searchTerm) || category.includes(searchTerm)) {
                        card.classList.remove('is-hidden')
                    } else {
                        card.classList.add('is-hidden')
                    }
                });
            });
        }
    });
</script>