<script>
    document.addEventListener("DOMContentLoaded", function () {
        const searchInput = document.getElementById('searchInput');
        const cards = document.querySelectorAll('.project-card');

        if (searchInput) {
            searchInput.addEventListener('input', e => {
                const searchTerm = e.target.value
                    .toLowerCase()
                    .replace(/\s+/g, '');

                cards.forEach(card => {
                    const title = (card.dataset.title || '')
                        .toLowerCase()
                        .replace(/\s+/g, '');

                    const category = (card.dataset.category || '')
                        .toLowerCase()
                        .replace(/\s+/g, '');

                    const isMatch =
                        title.includes(searchTerm) ||
                        category.includes(searchTerm);
                    console.log(isMatch, title, category);
                    card.style.display = isMatch ? 'flex' : 'none';
                });

            });
        }
    });
</script>